body {
    background-color: rgb(238, 238, 238); /* Светлосив фон за страницата */
    margin: 0; /* Премахва външното отстояние по подразбиране */
    padding: 0; /* Премахва вътрешното отстояние по подразбиране */
    display: flex; /* Flexbox контейнер за цялото съдържание */
  }
  
  .gallery {
    margin: 5px; /* Външно отстояние около галерията */
  }
  
  ul {
    list-style-type: none; /* Премахва стандартните маркери за списъците */
    display: flex; /* Flexbox за подредба на елементите */
    flex-wrap: wrap; /* Позволява елементите да се прехвърлят на нов ред при нужда */
    justify-content: space-between; /* Разпределя елементите с равномерно разстояние между тях */
  }
  
  li {
    display: flex; /* Flexbox за всеки елемент на списъка */
    margin-bottom: 30px; /* Разстояние отдолу за всеки елемент */
    background-color: white; /* Бял фон за всеки елемент */
  }
  
  img {
    border: 5px solid black; /* Черна рамка около всяко изображение */
    padding: 10px; /* Вътрешно отстояние между рамката и изображението */
    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.25); /* Леко затъмнена сянка около изображението */
    object-fit:contain; /* Изображението се мащабира така, че да се побере в рамката, без да се изрязва */
    aspect-ratio: 2/3;
  }
  