body {
    background-color: rgb(238, 238, 238); /* Задава светлосив фон за страницата. */
    padding: 40px 90px; /* Добавя вътрешно отстояние: 40 пиксела отгоре и отдолу, и 90 пиксела отляво и отдясно. */
    font-family: Helvetica, sans-serif; /* Определя шрифта на текста за страницата. Ако Helvetica не е наличен, се използва шрифт от семейството sans-serif. */
    display: flex; /* Задава контейнера на body като Flexbox, за подреждане на дъщерните елементи. */
    flex-wrap: wrap; /* Разрешава дъщерните елементи да се пренасят на следващ ред, ако няма достатъчно място. */
}

header,
main,
aside,
footer {
    background-color: white; /* Задава бял фон за основните секции. */
    border-radius: 5px; /* Закръгля ъглите на елементите с радиус от 5 пиксела. */
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.25); /* Добавя сенки около елементите със светло черен цвят и прозрачност 25%. */
    padding: 10px; /* Добавя вътрешно отстояние от 10 пиксела във всички посоки. */
    margin: 10px; /* Добавя външно отстояние от 10 пиксела около елементите. */
}

header {
    flex-basis: 100%; /* Задава ширината на header на 100% от родителя. */
    margin-bottom: 10px; /* Добавя отстояние от 10 пиксела под header. */
    padding-bottom: 20px; /* Добавя вътрешно отстояние от 20 пиксела в долната част на header. */
}

main {
    flex-basis: 60%; /* Задава ширината на main да бъде 60% от родителя. */
    padding-bottom: 150px; /* Добавя вътрешно отстояние от 150 пиксела в долната част на main. */
}

aside {
    flex-basis: 30%; /* Задава ширината на aside да бъде 30% от родителя. */
    /*покажи без тези две пропъртита каква е разликата*/
    flex-grow: 1; /* Позволява на aside да расте при налично допълнително пространство. */
    flex-shrink: 1; /* Позволява на aside да се свива, ако няма достатъчно място. */
    padding-bottom: 150px; /* Добавя вътрешно отстояние от 150 пиксела в долната част на aside. */
}

footer {
    flex-basis: 100%; /* Задава ширината на footer на 100% от родителя. */
    margin-top: 10px; /* Добавя отстояние от 10 пиксела над footer. */
    padding-bottom: 20px; /* Добавя вътрешно отстояние от 20 пиксела в долната част на footer. */
}
