body {
    background-color: lightslategray; /* Определя фона на страницата със светъл сивосинкав цвят (lightslategray). */
}

p {
    width: 300px; /* Задава фиксирана ширина от 300 пиксела за параграфите. */
    padding: 20px; /* Добавя вътрешно отстояние от 20 пиксела от всички страни на параграфите. */
    margin: auto; /* Центрира параграфите хоризонтално в родителския елемент. */
    background-color: #0F4069; /* Задава тъмносин цвят (#0F4069) за фона на параграфите. */
    color: whitesmoke; /* Променя цвета на текста в параграфите на светло сивобял цвят (whitesmoke). */
    border: 2px solid #e6eaef; /* Добавя рамка с дебелина 2 пиксела, с плътна линия и светлосив цвят (#e6eaef). */
    border-top-left-radius: 15px; /* Закръгля горния ляв ъгъл на параграфите с радиус от 15 пиксела. */
    border-bottom-right-radius: 15px; /* Закръгля долния десен ъгъл на параграфите с радиус от 15 пиксела. */
    border-top-right-radius: 50px; /* Закръгля горния десен ъгъл на параграфите с радиус от 50 пиксела. */
    border-bottom-left-radius: 50px; /* Закръгля долния ляв ъгъл на параграфите с радиус от 50 пиксела. */
}
