html {
  font-family: Helvetica, sans-serif; /* Задава основния шрифт за страницата. Ако Helvetica не е наличен, се използва sans-serif. */
  font-size: 16px; /* Определя размера на шрифта за основния текст. */
  line-height: 1.5; /* Указва разстоянието между редовете, за да е по-четимо съдържанието. */
  box-sizing: border-box; /* Включва padding и border в общата ширина и височина на елементите. */
}

* {
  box-sizing: inherit; /* Унаследява настройката за box-sizing от html за всички елементи. */
}

body {
  background-color: rgb(238, 238, 238); /* Установява светлосив фон за страницата. */
  padding: 20px 350px; /* Добавя вътрешно отстояние: 20 пиксела отгоре и отдолу, 350 пиксела отляво и отдясно. */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Georgia, serif; /* Определя шрифта за заглавията. Ако Georgia не е наличен, се използва serif. */
  font-size: 1.5em; /* Задава размера на шрифта като 1.5 пъти текущия размер на шрифта на родителя. */
  line-height: 1.2; /* Установява по-малко разстояние между редовете за заглавията. */
}

.site-header {
  text-transform: uppercase; /* Преобразува текста в главни букви. */
  margin: 10px 0; /* Добавя отстояние от 10 пиксела отгоре и отдолу. */
  font-weight: bold; /* Прави текста удебелен. */
  font-size: 35px; /* Определя размера на шрифта за заглавието. */
}

.site-title {
  border-bottom: 2px solid rgb(0, 0, 0); /* Добавя черна рамка с дебелина 2 пиксела под заглавието. */
  display: flex; /* Задава Flexbox за подравняване на съдържанието в заглавието. */
  justify-content: space-between; /* Разпределя вътрешните елементи равномерно с празно пространство между тях. */
}

.heading-nav a {
  color: rgb(0, 153, 0); /* Задава зелен цвят за текстовите линкове. */
  text-decoration: none; /* Премахва подчертаването на линковете. */
}

.heading-nav ul {
  list-style-type: none; /* Премахва стандартните точки за списъците. */
  display: flex; /* Задава Flexbox за хоризонтално подреждане на елементите в списъка. */
  justify-content: space-evenly; /* Равномерно разпределя елементите с еднакво разстояние между тях. */
}

.heading-nav li {
  padding: 10px; /* Добавя вътрешно отстояние от 10 пиксела за всеки елемент в списъка. */
}
