@import url("https://use.fontawesome.com/releases/v6.7.2/css/all.css"); 
/* Импортира FontAwesome иконите, които предоставят възможност за използване на социални и други икони в HTML. */

li a {
  text-decoration: none; /* Премахва подчертаването на линковете. */
  color: inherit; /* Задава цвета на линковете да бъде наследен от родителския елемент. */
  background-color: rgb(238, 238, 238); /* Задава светлосив фон на линковете. */
  border-radius: 50%; /* Закръгля елементите, създавайки кръгла форма за иконите. */
  padding: 8px 10px; /* Добавя вътрешно отстояние от 8 пиксела отгоре и отдолу, и 10 пиксела отстрани. */
}

li {
  display: inline-block; /* Подрежда <li> елементите хоризонтално на един ред. */
  list-style-type: none; /* Премахва стандартните точки на списъка. */
}

.fa-facebook-square:hover {
  color: rgb(59, 89, 152); /* Променя цвета на Facebook иконата на фирменото синьо при задържане с мишката. */
}

.fa-twitter:hover {
  color: rgb(0, 172, 237); /* Променя цвета на Twitter иконата на светло синьо при задържане с мишката. */
}

.fa-google-plus:hover {
  color: rgb(221, 75, 57); /* Променя цвета на Google Plus иконата на червено при задържане с мишката. */
}

.fa-linkedin:hover {
  color: rgb(0, 123, 182); /* Променя цвета на LinkedIn иконата на синьо при задържане с мишката. */
}

.fa-instagram:hover {
  color: rgb(93, 137, 171); /* Променя цвета на Instagram иконата на синьо-сиво при задържане с мишката. */
}
