section {
    border: 8px solid #e6e6e6; /* Добавя рамка с дебелина 8 пиксела, сив цвят (#e6e6e6) и плътна линия около секцията. */
    padding: 16px; /* Добавя вътрешно отстояние от 16 пиксела във всички посоки на секцията. */
    width: 451px; /* Определя фиксирана ширина от 451 пиксела за секцията. */
    height: 540px; /* Определя фиксирана височина от 540 пиксела за секцията. */
}

h2 {
    font-family: Merriweather, serif; /* Определя шрифт Merriweather за заглавието, с резервни шрифтове от семейството serif. */
    font-weight: 700; /* Прави текста плътен и дебел с тегло 700. */
    /*em е относителна към родителския елемент докато rem е относителна към руут елемента(<html>)*/
    margin: 1.2rem 0; /* Добавя вертикално външно отстояние от 1.2 рем отгоре и отдолу, и 0 отстрани. */
    color: rgb(51, 51, 51); /* Променя цвета на текста на тъмен сив цвят (RGB: 51, 51, 51). */
}

div {
    font-weight: 600; /* Прави текста плътен с тегло 600. */
    font-size: 20px; /* Задава размера на шрифта в елементите <div> на 20 пиксела. */
}

button {
    width: 250px; /* Определя фиксирана ширина от 250 пиксела за бутона. */
    font-family: Work Sans, sans-serif; /* Задава шрифт Work Sans за текста в бутона с резервни шрифтове от семейството sans-serif. */
    font-weight: 600; /* Прави текста в бутона плътен с тегло 600. */
    font-size: 18px; /* Задава размера на шрифта в бутона на 18 пиксела. */
    border-radius: 4px; /* Закръгля ъглите на бутона с радиус от 4 пиксела. */
    background-color: #d5384d; /* Задава фона на бутона в червеникав цвят (#d5384d). */
    color: #fff; /* Променя цвета на текста в бутона на бял (#fff). */
    letter-spacing: 1px; /* Добавя разстояние от 1 пиксел между буквите в текста на бутона. */
    text-align: center; /* Подравнява текста в бутона в центъра. */
    padding: 8px 16px; /* Добавя вътрешно отстояние от 8 пиксела отгоре и отдолу и 16 пиксела отстрани. */
    margin-top: 20px; /* Добавя външно отстояние от 20 пиксела над бутона. */
    margin-bottom: 20px; /* Добавя външно отстояние от 20 пиксела под бутона. */
}

p {
    font-family: Georgia, Cambria, Times New Roman, Times, serif; /* Определя шрифт Georgia за параграфа с резервни шрифтове от семейството serif. */
    font-size: 18px; /* Задава размера на шрифта в параграфа на 18 пиксела. */
    height: 30px; /* Определя фиксирана височина от 30 пиксела за параграфа. */
    margin-top: 0; /* Премахва външното отстояние над параграфа. */
}
