html {
    font-family: Helvetica, sans-serif; /* Основен шрифт за текста */
    font-size: 20px; /* Размер на шрифта */
}

.container {
    display: flex; /* Flexbox контейнер */
    flex-wrap: wrap; /* Позволява на елементите да се прехвърлят на нов ред */
    max-width: 15vw; /* Максимална ширина на контейнера */
    height: 35rem; /* Фиксирана височина на контейнера */
    align-content: flex-start; /* Подравнява съдържанието в началото на оста */
    align-items: flex-start; /* Подравнява елементите в началото на крос оста */
    flex-direction: column; /* Задава подредбата на елементите по колона */
}

span {
    border: 1px solid black; /* Рамка около всеки елемент */
    padding: 20px 30px; /* Вътрешно отстояние: 20 пиксела отгоре и отдолу, 30 пиксела отляво и отдясно */
    margin: 10px; /* Външно отстояние от 10 пиксела */
    width: 20%; /* Фиксирана ширина за всеки елемент спрямо контейнера */
    text-align: center; /* Центриране на текста вътре в елемента */
}

.order-1 {
    order: 1; /* Позиция 1 в подредбата на Flexbox */
}
.order-2 {
    order: 2; /* Позиция 2 */
}
.order-3 {
    order: 3; /* Позиция 3 */
}
.order-4 {
    order: 4; /* Позиция 4 */
}
.order-5 {
    order: 5; /* Позиция 5 */
}
.order-6 {
    order: 6; /* Позиция 6 */
}
.order-7 {
    order: 7; /* Позиция 7 */
}
.order-8 {
    order: 8; /* Позиция 8 */
}
.order-9 {
    order: 9; /* Позиция 9 */
}
.order-10 {
    order: 10; /* Позиция 10 */
}
.order-11 {
    order: 11; /* Позиция 11 */
}
.order-12 {
    order: 12; /* Позиция 12 */
}