html {
    font-family: Helvetica, sans-serif; /* Основен шрифт */
    font-size: 16px; /* Базов размер на шрифта */
    line-height: 1.5; /* Разстояние между редовете */
  }
  
  body {
    background-color: rgb(238, 238, 238); /* Светлосив фон за страницата */
    padding: 20px 370px; /* Вътрешно отстояние */
    display: flex; /* Flexbox за разположение */
    flex-direction: column; /* Елементите са подредени вертикално */
    height: 100vh; /* Височина на страницата (100% от височината на прозореца) */
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: Georgia, serif; /* Специален шрифт за заглавията */
    font-size: 1.2em; /* Относителен размер на шрифта */
  }
  
  .site-header {
    border-bottom: 3px solid black; /* Черна долна рамка за хедъра */
  }
  
  .site-title {
    text-transform: uppercase; /* Превръща текста в главни букви */
    margin: 10px 0; /* Външно отстояние отгоре и отдолу */
    font-weight: bold; /* Удебелен текст */
    font-size: 35px; /* Размер на шрифта */
  }
  
  footer p {
    color: rgb(255, 255, 255); /* Бял цвят за текста */
    background-color: rgb(102, 102, 102); /* Сив фон за параграфите във footer */
  }
  
  body footer {
    background-color: rgb(102, 102, 102); /* Сив фон за footer */
    margin-top: auto; /* Избутва footer към долната част на страницата */
    color: rgb(255, 255, 255); /* Бял цвят за текста */
  }
  