main {
    width: 900px; /* Определя фиксирана ширина от 900 пиксела за елемента <main>. */
    height: 140px; /* Определя фиксирана височина от 140 пиксела за елемента <main>. */
}

img {
    border-right: 1px solid #d1d1d1; /* Добавя дясна рамка около изображението с дебелина 1 пиксел, сив цвят (#d1d1d1) и плътна линия. */
    float: left; /* Позиционира изображението вляво, като позволява съдържанието след него да го обтича. */
    margin-right: 19px; /* Добавя външно отстояние от 19 пиксела вдясно на изображението. */
    padding-right: 19px; /* Добавя вътрешно отстояние от 19 пиксела вдясно на изображението. */
}

p {
    font-size: 20px; /* Задава размера на шрифта в параграфите на 20 пиксела. */
    line-height: 30px; /* Определя разстоянието между редовете на текста в параграфите на 30 пиксела. */
    color: #2e2e2e; /* Променя цвета на текста в параграфите на тъмен сив цвят (#2e2e2e). */
    text-align: justify; /* Подравнява текста в параграфите от двете страни за равномерно оформление. */
}
